*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	z-index: -1;
}

html{
	font-family: 'Muli', sans-serif;
	font-weight: 300;
	color: #d3d3d3;
	font-size: 20px;
}

.bg-video{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
}

.container{
	position: absolute;
	width: 100vw;
	height: 100vh;
}

.header{
	position: relative;
	top: 50%;
	left: 50%;
	width: 700px;
	height: 200px;
	margin-left: -350px;
 	margin-top: -100px;	
}

.header h1{
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: 1px;
	word-spacing: 1px;
	font-size: 180%;
	vertical-align: middle;
	line-height: 1;
	
}